body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f3e9;
    margin: 0;
    padding: 0;
}

/* Заголовок */
.header {
    background-color: #ffebcd;
    text-align: center;
    padding: 20px 0;
}

.main-title {
    color: #ff7e79;
    font-size: 2.5em;
}

/* Навігація */
.nav-buttons {
    list-style: none;
    padding: 0;
}

.nav-buttons li {
    display: inline;
    margin: 0 15px;
}

.nav-buttons a {
    text-decoration: none;
    color: #4b6584;
    font-size: 1.2em;
}

/* Секції */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 50px 20px;
    text-align: center;
    background: #fff;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
